body{
    background-image: none;
    background-color: white;
}

.main-content{
    color: black;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 5% 20% 3% 70%;
    grid-template-rows: 40vh 20vh 3% 60vh 20vh;
}

.filters{
    border: solid 1px #9d9a9a;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.filter-title{
    padding: 2%;
    font-size: 20px;
    color: white;
    background-color: #242424;
}

.filters h2{
    font-weight: bold;
    padding: 2%;
    font-size: 16px;
}

.valid{
    margin-top: 10%;
}

.new-product{
   text-align: center;
    border: solid 1px #9d9a9a;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}

.banner{
    grid-column-start: 4;
    grid-row-start: 1;
}

.last-articles{
    margin: 5%;
}

.last-articles h2{
    font-size: 22px;
}

.last-articles a{
    text-decoration: none;
    color: black;
}

.all-products{
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    flex-wrap: wrap;
}

.flex-items{
    text-align: center;
    flex-basis: 33.333%;
    margin-bottom: 3%;
}

.filters form{
    margin-right: 5%;
    margin-left: 5%;
}

.filters form input{
    width: 30%;
}

.img-produits{
    width: 200px;
    height: 200px;
}

.img-newProduits{
    width: 100px;
    height: 100px;
}

.title-product{
    text-decoration: none;
    color: black;
}


