@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body{
    background-image: none;
    background-color: white;
}

.main-content{
    color: black;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 5% 20% 3% 70%;
    grid-template-rows: 40vh 20vh 3% 60vh 20vh 20vh;
}

.filters{
    border: solid 1px #9d9a9a;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.filter-title{
    padding: 2%;
    font-size: 20px;
    color: white;
    background-color: #242424;
}

.filters h2{
    font-weight: bold;
    padding: 2%;
    font-size: 16px;
}

.valid{
    margin-top: 10%;
}

.new-product{
   text-align: center;
    border: solid 1px #9d9a9a;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.banner{
    grid-column-start: 4;
    grid-row-start: 1;
}

.last-articles{
    margin: 5%;
}

.last-articles h2{
    font-size: 22px;
}

.last-articles a{
    text-decoration: none;
    color: black;
}

.all-products{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    display: flex;
    flex-wrap: wrap;
}

.product-container{
    transition: all 0.7s;
}

.product-container:hover{
    border-radius: 5px;
}

.flex-items{
    text-align: center;
    flex-basis: 33.333%;
    margin-bottom: 3%;
}

.filters form{
    margin-right: 5%;
    margin-left: 5%;
}

.filters form input{
    width: 30%;
}

.img-produits{
    width: 200px;
    height: 200px;
}

.img-newProduits{
    width: 100px;
    height: 100px;
}

.title-product{
    text-decoration: none;
    color: #1c1a1a;
}

.title-product h2{
    margin-top: 1%;
    font-size: 20px;
    color: #2d2a2a;
}

.img-container{
    display:block;
    position:relative;
    overflow:hidden;
}



.img-container .infos-hover{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:0;
    text-align:center;
    background: rgba(57, 54, 54, 0.8);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.img-container .infos-hover i{
    font-size:25px;
}

.img-container .infos-hover p{
    text-align:center;
}

.img-container:hover .infos-hover{
    height:30%;
    border-radius: 5px;
}

.article-price{
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: lighter;
}

.infos-hover a{
    color: white;
}

.pageNumber{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: center;
}

