body{
    background-image: none;
    background-color: #ffffff;
}

.history__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.profil__links{
    padding-top: 1%;
    padding-bottom: 1%;
}