@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body{
    background-image: none;
    background-color: white;
}

.main-content{
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.adding-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    border: solid 1px #c1c1c1;
    margin: 1%;
    padding: 1%;
}

.form-paiement-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.product-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 30%;
}

.price-line-product{
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;
}

.icon-img{
    width: 100px;
    height: 100px;
}

.cart-vide{
    margin-right: 20%;
}

.total-price{
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    border: none;
    font-weight: bold;
    width: 40%;
}

button a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

button a:hover{
    text-decoration: none;
    color: white;
}