body{
    background-image: none;
    background-color: white;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    background-color: red;
}

.adding-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: blue;
}

.form-paiement-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    background-color: green;
}