@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body{
    background-image: none;
    background-color: white;
}

.main-content{
    color: black;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 0.5fr 0.2fr;
}

.img-item{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
}

.img-produit{
    height: 300px;
    width: 300px;
}

.img-second-item{
    height: 100px;
    width: 100px;
}

.title-item{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-right: 20%;
}

.price-size{
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: lighter;
}

.confirm-add{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 35%;
    margin-bottom: 20%;
    margin-right: 20%;
}

.confirm-add a{
    text-decoration: none;
    font-weight: bold;
}


