body{
    background-image: none;
    background-color: white;
}

.main-content{
    color: black;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
}

.img-item{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.img-produit{
    height: 600px;
    width: 600px;
}

.title-item{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
}

.price-size{
    font-size: 50px;
}