body{
    background-image: none;
    background-color: #ffffff;
}

#text__profil{
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 25%;
    margin-top: 4%;
}

.profil__section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid 1px #428BCA;
    height: 60vh;
    width: 50%;
    padding-top: 0.5%;
    margin-top: 0;
}

.upleft{
    background-color: #ebebf1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #403c3c;
    width: 30%;
    height: 20vh;
    margin-left: 0;
}

.upmid{
    background-color: #ebebf1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #403c3c;
    width: 30%;
    height: 20vh;
}

.upright{
    background-color: #ebebf1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #403c3c;
    width: 30%;
    height: 20vh;
    margin-right: 0;
}

.downleft{
    background-color: #ebebf1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #403c3c;
    width: 30%;
    height: 20vh;
    margin-left: 0;
}

.downmid{
    background-color: #ebebf1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #403c3c;
    width: 30%;
    height: 20vh;
}

.downright{
    background-color: #ebebf1;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #403c3c;
    width: 30%;
    height: 20vh;
    margin-right: 0;
}

.form__deco{
    width: 10%;
}

.btn__deco{
    background-color: #242424;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.btn__deco:hover{
    background-color: #428BCA;
}

.ico__text{
    font-size: 20px;
    margin-top: 22%;
}

.ico__text i{
    font-size: 30px;
}