*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.header__bg{
    background-color: #242424;
    height: 22vh;
    position: fixed;
}

.header__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    margin-left: 35%;
    margin-top: 2%;
}

.header__section img{
    width: 2%;
    height: 3%;
    margin-right: 0.2%;
}

.header__section p{
    margin-right: 1.2%;
}

/*-- French store text --*/

.header__section p:hover span{
    display: none;
}

.header__section p:hover:after{
    content: "Votre commande livrée en 72h !";
}

/*-- Contact link --*/

#contact{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

#contact:hover i{
    color: #428BCA;
}

#contact:hover span{
    display: none;
}

#contact:hover:after{
    content: "Du lundi au vendredi de 9h à 17h";
}

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
    font-weight: bold;
    background-color: #F3F3F3;
    border: solid 1px #c6c1c1;
    border-radius: 4px;
}

/*-- Navbar(phone, account and shopping basket) --*/

.first__ul{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: -10%;
}

/*-- Navbar(figurines) --*/

.second__ul{

}

#figurines a{
    color: #ffffff;
    font-weight: normal;
}